/* Fonts and Base Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

/* General Background and Header Colors */
.vfrc-widget {
  /* background-color: #011627; Night Owl dark blue background for overall widget */
  color: #093b5a; /* Light text color for contrast */
  font-family: 'Source Code Pro', monospace; /* Font inspired by coding environments */
  font-size: 16px;
}

/* Header Styling */
.vfrc-header {
  background-color: #273445;
  color: #d6deeb;
  border-bottom: 1px solid #1c293aba; /* Slight border to distinguish header */
}

.vfrc-assistant-info--title, .vfrc-assistant-info--description {
  color: #ffffff;
}

/* Chat Area Styling */
.vfrc-chat {
  background-color: #2b3b50fc;
  border: 1.5px solid #1c293aba;
  box-shadow: #ff7700;
} 

/* Message Styles */
.vfrc-system-response .vfrc-message {
  background-color: #1c23326c; /* Brighter blue for text */
  color: #ffffff;
}

.vfrc-user-response .vfrc-message{
  background-color: #20313ecb; /* Dark grey/blue */
  color: #ffffff; /* White text for contrast */
}

/* Input Styles */
.vfrc-chat-input textarea {
  background-color: #ff7700 !important; /* Dark grey/blue for input field background */
  color: #ffffff !important; /* White text for input text */
}

/* Buttons and Launcher Styles */
.vfrc-button {
  background-color: #ff9500;
  color: #1f2937bb;
  text-shadow: #1a2d3a; /* Subtle border for buttons */
}

/* Launcher Specific Styling */
.vfrc-launcher {
  background-color: #ff9d00;
  color: #1f2937;
  width: 190px; /* Width of the rectangle */
  height: 40px; /* Height of the rectangle */
  border-radius: 30px; /* Soften the edges to create a pill shape */
  position: fixed; /* Fixed position to keep it relative to the viewport */
  right: 0; /* Align to the right edge of the viewport */
  margin-right: 20px; /* Partially hide the launcher */
  bottom: 20px; /* Position it 20px from the bottom */
  z-index: 1000; /* Ensure it's on top of other elements */
}

.vfrc-input-container, .vfrc-chat-input {
    background-color: #093b5a !important;
}


._1gdvh9t6 {
    color: #ffffff;
}
